<?xml version="1.0" encoding="utf-8"?>
<GraphicsOptions>
  <Version>1</Version>
  <PresetName>Custom</PresetName>
  <StereoscopicMode>0</StereoscopicMode>
  <IPDAmount>0.001000</IPDAmount>
  <AMDCrashFix>false</AMDCrashFix>
  <FOV>60.0000</FOV>
  <HighResScreenCapAntiAlias>3</HighResScreenCapAntiAlias>
  <HighResScreenCapScale>4</HighResScreenCapScale>
  <GammaOffset>0.0000</GammaOffset>
  <DisableGuiEffects>false</DisableGuiEffects>
  <StereoFocalDistance>25.000000</StereoFocalDistance>
  <StencilDump>false</StencilDump>
  <ShaderWarming>False</ShaderWarming>
  <VehicleMotionBlackout>False</VehicleMotionBlackout>
  <VehicleMaintainHorizonCamera>False</VehicleMaintainHorizonCamera>
  <DisableCameraShake>False</DisableCameraShake>
</GraphicsOptions>